html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background-color: #A3D4F0;
    height: 20vh;
    margin: 0;
    align-items: center;
    display: flex;
}

header h1 {
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 8vh;
}

.color-head {
    text-align: center;
    border-bottom: 3px solid black;
    width: 75%;
    margin: 3vh auto;
    font-size: 6vh;
}

.color-row {
    display: flex;
    flex-wrap: wrap;
}

.color-section {
    flex: 1;
    margin-top: 10vh;
}

.color-section:first-child {
    margin-left: 12vw;
}

.color-dot {
    border: 1px solid black;
    background-color: #A3D4F0;
    padding: 3rem 3.5rem;
    border-radius: 50%;
}


.color-name {
    margin-left: 1vw;
    white-space: nowrap;
    font-size: 4vh;
}

.color-hex {
    margin-left: 1vw;
    white-space: nowrap;
    font-size: 4vh;
}
