html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #A3D4F0;
    height: 20vh;
    margin: 0;
    align-items: center;
    display: flex;
}

header h1 {
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 5vmax;
}

.section-head {
    text-align: center;
    border-bottom: 3px solid black;
    width: 75%;
    margin: 3vh auto;
    font-size: 6vh;
}

.color-row {
    display: flex;
    flex-wrap: wrap;
}

.color-section {
    flex: 1;
    margin: 15vh 0 0 10vw;
}

.color-dot {
    border: 1px solid black;
    padding: 3rem 3.5rem;
    border-radius: 50%;
}


.color-name {
    margin-left: 1vw;
    white-space: nowrap;
    font-size: 4vh;
}

.color-hex {
    margin-left: 1vw;
    white-space: nowrap;
    font-size: 4vh;
}

#caribbean {
    background-color: #A3D4F0;
}

#cool-aqua {
    background-color: #18AFBB;
}

#new-dawn {
    background-color: #F79547;
}

#cookie-dough {
    background-color: #F6E3C3;
}

#dragon-blood {
    background-color: #AB4830;
}

#mulberry {
    background-color: #7F3B5F;
}

.font-container {
    text-align: center;
    position: relative;
}

.font-panel {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.font-info {
    font-size: 1.5rem;
}

.font-name {
    text-decoration: underline;
    font-size: 2rem;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

#roboto-slab {
    font-family: 'Roboto Slab';
}

#monsterrat {
    font-family: 'Monsterrat';
}

#shadow-light {
    font-family: 'Shadows Into Light';
}

#press-start {
    font-family: 'Press Start 2P';
}

#press-start p {
    font-size: 1.5rem;
}

.ts-container {
    text-align: center;
    position: relative;
}

.ts-panel {
    display: inline-block;
    text-align: left;
    width: 75%;
    margin: auto;
}

.ts-panel h1 {
    font-weight: 700;
    font-size: 5vmax;
}

.ts-panel h2 {
    font-weight: 500;
    font-size: 3vmax;
}

.ts-panel p {
    font-size: 1.5vmax;
}

.ts-info {
    font-size: 1.5vmax;
}
